<footer class="site-footer">
  <div class="site-footer__inner">

    <!-- Colonne gauche : texte -->
    <div class="site-footer__col site-footer__col--brand">
      <h3 class="site-footer__title"><span class="saty">SATY</span><span style="color: rgb(219, 20, 20);"> BOUTIQUE</span>.</h3>
      <p class="site-footer__text">
        Notre Boutique propose des tenues africaines modernes et élégantes,
  sélectionnées avec soin. Livraison fiable, paiement sécurisé et service
  client à votre écoute.
      </p>
    </div>

<!-- Colonne liens 1 -->
<div class="site-footer__col">
  <ul class="site-footer__list">
    <li><a href="#">À propos</a></li>
    <li><a href="#">Aide</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Conditions générales</a></li>
    <li><a href="#">Événements</a></li>
  </ul>
</div>

<!-- Colonne liens 2 -->
<div class="site-footer__col">
  <ul class="site-footer__list">
    <li><a href="#">Boutique</a></li>
    <li><a href="#">Confidentialité</a></li>
    <li><a href="#">Avis clients</a></li>
    <li><a href="#">Publicité</a></li>
    <li><a href="#">Service client</a></li>
  </ul>
</div>

<!-- Colonne liens 3 -->
<div class="site-footer__col">
  <ul class="site-footer__list">
    <li><a href="#">Devenir partenaire</a></li>
    <li><a href="#">Rejoindre l’équipe</a></li>
    <li><a href="#">Programme fidélité</a></li>
    <li><a href="#">Developpeurs</a></li>
    <li><a href="#">API & intégrations</a></li>
  </ul>
</div>

  </div>

  <!-- Bas du footer -->
  <div class="site-footer__bottom">
    <p class="site-footer__copy">
      © 2025 Saty Boutique. Tous droits réservés.
    </p>

    <div class="site-footer__bottom-links">
      <a href="#" class="site-footer__bottom-link">Mentions légales</a>
      <span>•</span>
      <a href="#" class="site-footer__bottom-link">Politique de confidentialité</a>
    </div>

    <div class="site-footer__socials">
      <a href="#" class="site-footer__social">
        <img src="assets/icons/whatsapp.svg" alt="Twitter" />
      </a>
      <a href="#" class="site-footer__social">
        <img src="assets/icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="#" class="site-footer__social">
        <img src="assets/icons/instagram.png" alt="LinkedIn" />
      </a>
      <a href="#" class="site-footer__social">
        <img src="assets/icons/tiktok.svg" alt="Dribbble" />
      </a>
    </div>
  </div>
</footer>

<!-- Bouton retour en haut -->
<button
  class="back-to-top"
  type="button"
  (click)="scrollToTop()"
>
  ↑
</button>
